body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

#resultContainer {
    margin-top: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
}

.card img {
    max-width: 100%;
    border-radius: 8px;
}

.error{
    color: red;
}
